name: Publish to WinGet
on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: Publish to WinGet
              uses: vedantmgoyal9/winget-releaser@4ffc7888bffd451b357355dc214d43bb9f23917e
              with:
                  identifier: Kieirra.Murmure
                  installers-regex: '\.msi$'
                  token: ${{ secrets.WINGET_TOKEN }}
