name: Release Murmure
on:
    workflow_dispatch:
        inputs:
            target:
                description: 'Target system to build'
                required: false
                default: 'all'
                type: choice
                options:
                    - all
                    - linux
                    - windows
                    - macos

jobs:
    linux:
        if: ${{ !github.event.inputs.target || github.event.inputs.target == 'all' || github.event.inputs.target == 'linux' }}
        uses: ./.github/workflows/build-linux.yml
        secrets: inherit

    windows:
        if: ${{ !github.event.inputs.target || github.event.inputs.target == 'all' || github.event.inputs.target == 'windows' }}
        uses: ./.github/workflows/build-windows.yml
        secrets: inherit

    macos:
        if: ${{ !github.event.inputs.target || github.event.inputs.target == 'all' || github.event.inputs.target == 'macos' }}
        uses: ./.github/workflows/build-macos.yml
        secrets: inherit
